body,
.palatino-linotype-display {
  font-family: 'Palatino Linotype', Palatino, sans-serif;
  font-size: 15.5px;
}

.announcement-bar {
  background-color: #ffeff5;
  color: #000000;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  position: relative;
}

.announcement-bar button {
  border: none;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
}

.announcement-bar {
  font-family: 'georgia', sans-serif;
  font-size: 14px;
}

.nav-link {
  color: rgb(0, 0, 0);
}

.nav-link:hover {
  color: #e78ea9;

}

.top-divider {
  background-color: #ffd5dc;
  height: 2px;
  margin: 20px auto;
  width: 35%;
}

.logo-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* home page*/
#glozzio1home,
#glozzio2home,
#glozzio3,
#rosehome,
#odettehome,
#kikohome {
  object-fit: contain;
  width: 900px;
  height: auto;
  display: block;
  margin: auto;
}

.carousel {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.carousel-control-prev {
  left: 0px;
}

.carousel-control-next {
  right: 0px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #b9b9b9;
  border-radius: 40%;
  padding: 10px;
}

#glozzio1,
#glozzio2,
#rose,
#odette,
#kiko {
  object-fit: contain;
  width: 800px;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 45px;
}

/*end of home page*/

/* product page */
.image-container {
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
}

.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 193, 211, 0.761);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  text-align: center;
}

.image-container:hover .hover-text {
  opacity: 1;
}

  .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    min-height: 100vh;
  }

.modal-backdrop {
  background-color: rgba(255, 188, 216, 0.712);
  /* Semi-transparent black */
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-left: 0px;
}

#rose3,
#odette3,
#kiko3 {
  object-fit: contain;
  margin: 30px;
}

#img-rose3,
#img-odette3,
#img-kiko3 {
  max-width: 100%;
  height: auto;
  width: 500px;
}

@media (max-width: 768px) {
  .row > .col-12:not(:last-child) {
    margin-bottom: 30px; 
  }
}

.accordion-button:hover {
  box-shadow: 0px 4px 8px rgba(255, 185, 222, 0.765);
  background-color: #ffffff;
  color: #000000;
}
/*end of products*/

/*tac page*/
@media (max-width: 768px) {
  .accordion-button:not(.collapsed) {
    background-color: #ffffff;
    color: #000000;
  }
}

.left-aligned-content {
  text-align: left;
}
/*end of tac page*/

/* contact page */
.form-width-custom {
  width: 340px;
  margin: auto;
  justify-content: center;
}

.form-control {
  width: 100px;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #c3c3c3;
}

.form-control:focus {
  outline: none;
  border-color: #ffd0e0;
  box-shadow: 0 0 0 2px rgba(255, 123, 123, 0.5);
}

.contact-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  margin: auto;
  padding: 50px;
}

.search-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.btn {
  background-color: #ebebeb;
  color: rgb(77, 77, 77);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  width: 30%;
}

.btn:hover {
  background-color: #ffd5dc;
}

.search-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  position: relative;
}

.form-control {
  width: 200px;
}

/*end of contact page*/

/*cart page*/
.cart-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
}

.cart-total {
  margin-bottom: 20px;
}

.checkout-btn {
  padding: 10px 20px;
  background-color: #ffdfdf;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: #e4e4e4;
}

/*end of cart page*/

/* footer */
/*bottom divider*/
.bottom-divider {
  background-color: #ffc3cd;
  height: 2px;
  margin: 10px auto;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 90%;
}

/*search bar*/
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-container input[type="text"] {
  padding: 10px;
  padding-right: 50px;
  margin-bottom: 10px;
  width: 30%;
  box-sizing: border-box;
}

.search-btn {
  position: absolute;
  right: calc(38% - 40px);
  top: -5px;
  padding: 10px;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .search-container input[type="text"] {
    width: 60%;

  }

  .search-btn {
    right: 80px;
  }
}
/*end of search bar*/

.form-control {
  border-width: 1px;
  width: 30%;
}

.footer-logo {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-align: center;
}

.footer-logo img {
  height: 35px;
  width: auto;
}

.footer-logo {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 30px;
  padding: 20px 0;
}

